<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()" [disabled]="!isLogin">
      <i class="fal fa-bars"></i>
    </button>
    <ng-container *ngIf="!isLeftSidebarCollapsed">
      <div class="logo-text">App</div>
      <button class="btn-close" (click)="closeSidenav()" [disabled]="!isLogin">
        <i class="fal fa-times close-icon"></i>
      </button>
    </ng-container>
  </div>
  <div class="sidenav-nav">
    <li
      class="sidenav-nav-item"
      *ngFor="let item of items; let i = index"
      [class.disabled]="!isLogin"
    >
      <a
        class="sidenav-nav-link"
        [routerLink]="isLogin ? item.routeLink : null"
        [routerLinkActive]="isLogin ? 'active' : ''"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <ng-container *ngIf="!isLeftSidebarCollapsed">
          <span class="sidenav-link-text">{{ item.label }}</span>
        </ng-container>
      </a>
    </li>
  </div>
</div>

<!-- <div class="main-content">
  <router-outlet></router-outlet>
</div> -->
